<h1>About</h1>
<p>I'm currently looking for a entry level software developer position so I think this should be a great portfolio. I love goldfish; They're fun to watch.</p>
<div class="about-icons">
    <a class="about-icons"><i class="fas fa-fish"></i></a>
    <a class="about-icons"><i class="fas fa-fish"></i></a>
    <a class="about-icons"><i class="fas fa-fish"></i></a>
</div>

