@model Blog
<h1>There will be monthly blogs here!</h1>
<ul>
    <li><a asp-controller="Blog" asp-action="BlogContent" asp-route-id ="2">Blog 02/05/2021</a>
    </li>
    <li><a asp-controller="Blog" asp-action="BlogContent" asp-route-id="3">Blog 03/05/2021</a></li>
</ul>


